$colorBackground: #fff;
$colorLogoText: #000;
$colorBgCard: #4a4f50;
$colorBgButton: #8dba07;
$colorAfter: #4f6eea;
$colorLeftGradient: #4ecc24;
$colorRightGradient: #4f6eea;

$fontSource: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;

$backgroundImage: url('../img/m-h-day.jpg');

// 14px
// 20px
// 22px
// 28px
// 32px
// 80px
