$colorBackground: #4a4f50;
$colorLogoText: #fff;
$colorBgCard: #888a8b;
$colorBgButton: #ffe100;
$colorAfter: #f71104;
$colorLeftGradient: #dda306;
$colorRightGradient: #cc0e7c;

$fontSource: 'Source Sans Pro', sans-serif;
$fontHind: 'Hind', sans-serif;
$fontFresca: 'Fresca', sans-serif;

$backgroundImage: url('../img/m-h-night.jpg');